%h1 Deport SpaceCat Back To #{@spacecat.home_planet}?
%form{action: "/spacecats/#{@spacecat.id}", method: "post"}
  %input{type: "hidden", name: "_method", value: "delete"}
  %input{type: "submit", class: "btn btn-lg btn-default", data: {confirm: "Are you sure?"}, value: "Yes"}
%br
%a{class: "btn btn-lg btn-default", href: "/spacecats"} I changed my mind